body {
		margin: auto;
		padding: 20px;
		font-family: -apple-system, 'Poppins', BlinkMacSystemFont, sans-serif;
		overflow: auto;
		background: linear-gradient(315deg, rgba(101,0,94,1) 3%, rgba(60,132,206,1) 38%, rgba(48,238,226,1) 68%, rgba(255,25,25,1) 98%);
		animation: gradient 15s ease infinite;
		background-size: 400% 400%;
		background-attachment: fixed;
}

@keyframes gradient {
		0% {
				background-position: 0% 0%;
		}
		50% {
				background-position: 100% 100%;
		}
		100% {
				background-position: 0% 0%;
		}
}

.wave {
		background: rgb(255 255 255 / 25%);
		border-radius: 1000% 1000% 0 0;
		position: fixed;
		width: 200%;
		height: 12em;
		animation: wave 10s -3s linear infinite;
		transform: translate3d(0, 0, 0);
		opacity: 0.8;
		bottom: 0;
		left: 0;
		z-index: -1;
}

.wave:nth-of-type(2) {
		bottom: -1.25em;
		animation: wave 18s linear reverse infinite;
		opacity: 0.8;
}

.wave:nth-of-type(3) {
		bottom: -2.5em;
		animation: wave 20s -1s reverse infinite;
		opacity: 0.9;
}

@keyframes wave {
		2% {
				transform: translateX(1);
		}

		25% {
				transform: translateX(-25%);
		}

		50% {
				transform: translateX(-50%);
		}

		75% {
				transform: translateX(-25%);
		}

		100% {
				transform: translateX(1);
		}
}

.container {
	   color: #FFFF;
	   background: #000000;
		 border-radius: 10px;
		 padding: 20px;
	   box-shadow: 0 0 .2rem #fff,0 0 .2rem #fff, 0 0 2rem #1F51FF,
            0 0 0.8rem #1F51FF,
            0 0 2.8rem #1F51FF,
            inset 0 0 1.3rem #1F51FF;
		 margin-top: 20px;
		 margin-bottom: 20px;
	 outline: 2px solid #FFFFFF;
}
 h1 {
		 color: #FFFFFF;
		 font-size: 24px;
		 margin-bottom: 15px;
}
 label {
		 background-color: #FFFFFF;
	   color: #343434;
		 border-radius: 10px;
		 font-weight: bold;
		 margin-bottom: 5px;
	   background-image: #FFFFFF;
}
 .centered-textarea {
		 color: #FFFFFF;
		 display: flex;
		 margin: 0 auto;
		 width: 100%;
		 min-height: 150px;
		 padding: 10px;
		 box-sizing: border-box;
		 border: 1px solid #00ffff;
		 border-radius: 5px;
		 resize: none;
}
 .btn-primary {
		 background-color: #00ff00;
		 border: 1px solid #007bff;
	   color: #261a1a;
}
 .btn-primary:hover {
		 background-color: #76d674;
		 border: 1px solid #0056b3;
}
 .success-message {
		 color: green;
		 margin-top: 10px;
}
 .footer {
		 background-color: #E90207 46%,  #ff8c00 100%;
		 padding: 10px;
		 text-align: center;
		 font-size: 16px;
		 color: #FFFFFF;
		 margin-top: 50px;
		 border-top: 1px solid #blue;
		 position: fixed;
		 bottom: 0;
		 left: 0;
		 width: 100%;
}
 .footer p {
		 margin: 0;
		 display: inline-block;
		 margin-right: 30px;
}
 .container-buttons {
		 margin-top: 20px;
		 text-align: center;
}
 .container-buttons .btn {
		 margin: 5px;
}

 #result {
		 padding: 10px;
		 margin-top: 20px;
		 border-radius: 5px;
}
 .center-placeholder::placeholder {
		 text-align: center;
}

.form-check {
	display: flex;
	margin-top: 10px;
	padding: 14px;
	align-items: center;
	border: 1px solid #red;
	border-radius: 8px;
	cursor: pointer;
	transition: background-color 0.3s ease, border-color 0.3s ease; 
	border-color: #ccc;
	background-color: #fff;
}

.form-check:hover {
	background-color: #f5f5; 
	border-color: #f8f8f8; 
}

.form-check-input {
	margin-right: 10px; 
	opacity: 0;
}

.disable {
	display: none;
}

#inputOfPrefix, #inputOfAdmin,
#inputOfBotName {
	padding: 13px;
	width: 200px;
	border: 1px solid #ccc;
	border-radius: 8px;
	cursor: pointer;
	transition: background-color 0.3s ease, border-color 0.3s ease; 
	border-color: #ccc;
	background-color: #fff;
}
#listOfCommands, #listOfCommandsEvent, #prefixOfCommands, #adminOfCommands {
	border: none !important;
}

#listOfCommands:not(.modal), #listOfCommandsEvent:not(.modal), #prefixOfCommands:not(.modal),
#adminOfCommands:not(.modal) {
	box-shadow: none !important;
}

div {
	margin-bottom: 10px;
	border-radius: 5px;
}

video {
	max-width: 100%;
	max-height: 40%;
	margin-bottom: 20px;
	cursor: default;
	outline: 2px solid #FFFFFF;
	background: linear-gradient(135deg, aqua, rgb(0, 255, 0), rgb(255, 255, 0), orange, red, rgb(255, 0, 234));
	border-radius: 10px;
	animation: animate 1.5s linear infinite;
	 border: 2px solid transparent;
animation: neon-border 2s linear infinite alternate; /* Adjust animation duration and timing */
	}

 @keyframes neon-border {
	 from {
		border-color: #ff0000; /* Start color */
	box-shadow: 0 0 10px #ff0000, 0 0 20px #ff0000, 0 0 30px #ff0000; /* Adjust shadow colors and sizes */
}
to {
	border-color: #00ff00; /* End color */
	box-shadow: 0 0 20px #00ff00, 0 0 40px #00ff00, 0 0 60px #00ff00; /* Adjust shadow colors and sizes */
}
 }

#video-container {
	
	width: 100%;
	height: 100%;
	margin-bottom: 20px;
	display: flex;
}

#video {
				overflow: hidden;
				display: flex;
				justify-content: center;
				align-items: center;
	 width: 100%;
	 border-radius: 10px;
	 height: 100%;
	 object-fit: cover;
	 margin: auto;
}
